<!DOCTYPE html>
<html>

<head>
    <meta lang="pt-BR">
    <meta charset="utf-8">

    <!-- RESET -->
    <link rel="stylesheet" href="static/css/reset.css">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="static/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>

    <!-- MY CSS -->
    <link rel="stylesheet" href="static/css/myStyle.css">
    <link rel="stylesheet" href="static/css/blogStyle.css">

    <title>Blog Libras</title>
</head>

<body>

    <header>

        <!-- SEARCH BUTTON -->
        <div class="input-group mb-3">
            <!-- &#128269; - lupa -->
            <span class="input-group-text border-dark yellow-1" id="basic-addon">&#128269;</span>
            <input type="text" class="form-control border-dark yellow-1" placeholder="Procurar">
        </div>

        <!-- TITLE -->
        <div class="border-r-3 padding-6 border border-1 border-dark yellow-1">
            <div class="d-flex justify-content-center">
                <h1>
                    <p class="p-size-3"><a href="/">Blog Libras</a></p>
                </h1>
            </div>
        </div>

    </header>

    <main>

        <!-- BLOG POST -->
        <div class="blog-post margin-ub-1">
            <div class="border-r-2 border border-1 border-dark margin-b-1 yellow-1">
                <div class="container padding-lr-1 padding-ub-1">
                    <div class="row justify-content-start">
                        <div class="col-8">
                            <p class="p-size-2">Números</p>
                        </div>
                        <div class="col-4 right-text">
                            <p class="p-size-2">99/99/9999</p>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-12">
                            <p class="p-size-1">Nunca é demais lembrar o peso e o significado destes problemas, uma vez
                                que o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos
                                métodos utilizados na avaliação de resultados.
                                <br />Todavia, o início da atividade geral de formação de atitudes representa uma
                                abertura para a melhoria do impacto na agilidade decisória.
                                <br />A prática cotidiana prova que a necessidade de renovação processual cumpre um
                                papel essencial na formulação da gestão inovadora da qual fazemos parte.
                            </p>
                            <p class="p-size-1">Nunca é demais lembrar o peso e o significado destes problemas, uma vez
                                que o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos
                                métodos utilizados na avaliação de resultados.
                                <br />Todavia, o início da atividade geral de formação de atitudes representa uma
                                abertura para a melhoria do impacto na agilidade decisória.
                                <br />A prática cotidiana prova que a necessidade de renovação processual cumpre um
                                papel essencial na formulação da gestão inovadora da qual fazemos parte.
                            </p>

                            <div class="text-center margin-ub-1">
                                <img src="static/img/libras-logo-liguagem-de-sinais-logo.png" height="50%" width="50%"
                                    alt="imagem azul e branca que represnta um sinal de lbras" />
                            </div>

                            <p class="p-size-1">Nunca é demais lembrar o peso e o significado destes problemas, uma vez
                                que o comprometimento entre as equipes talvez venha a ressaltar a relatividade dos
                                métodos utilizados na avaliação de resultados.
                                <br />Todavia, o início da atividade geral de formação de atitudes representa uma
                                abertura para a melhoria do impacto na agilidade decisória.
                                <br />A prática cotidiana prova que a necessidade de renovação processual cumpre um
                                papel essencial na formulação da gestão inovadora da qual fazemos parte.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="border-top border-1 border-dark margin-u-2 blog-bottom center-text padding-u-1 yellow-1">
            <p class="p-size-1-5 margin-b-0 txt-bold">Desenvolvido por Rafael D'Ajuda</p>
            <p class="p-size-1-3 margin-b-0">HTML5/CSS/NODEJS</p>
            <p class="p-size-1">rafaeldajuda@gmail.com</p>
        </div>
    </footer>

</body>

</html>